@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.google.com/specimen/Quicksand?sidebar.open=true&selection.family=Quicksand');
@import url('https://fonts.googleapis.com/css2? family = Baloo + Da + 2: wght @ 400; 500; 600 & family = Josefin + Slab: ital, wght @ 0,100; 0,400; 1.300; 1.400 & family = Mulish: wght @ 200 & display = swap ');

body{
   background-color: #f5f5f5;
   
}
.container{
    height: 100%;
    width: 100%;
    max-width: 800px; /* a largura maxima permitida */
    margin: auto;
    box-shadow: 0px 4px 4px 4px #888888;
    padding: 10px;
    
}
.container>h2{
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 200;
    
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}



#form{
    display: flex;
    flex-direction: column;

}

.form-group{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

#sec-form, #sec-listContato>h2{
    font-family: 'Abel';
    margin-bottom: 2px;
    
}
label{
    width: 50px;
}
.form-group>input{
    width: 100%;
}


button{
    align-self: center;
    width: 200px;
    font-family: 'Quicksand';
}

th,td{
    text-align: left;
}

.card{
    background-color:#2d767f;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    
}

.card>.card-midia{
    background-color:#b4f1f1;
    height: 150px;
    width: 150px;
    border-radius: 50%;    
    
}

.card>h3{
    background-color: #b4f1f1 ;
    border-radius: 10px;
    padding: 0px 10px;
}

#lista-contato{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-edit-butt{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(180, 241, 241, 0.5);
    border: 0;
    margin: 5px;
}

.card-edit-butt:hover{
    background-color: rgba(180, 241, 241);
}

#sec-pesq>input{
    width: 100%;
    text-align: center;
    height: 17px;
    
}



@media(max-width:468px){
    #lista-contato{
        justify-content: center;
    }


    button{
        width: 100%;
    }
}